# Problem is Titanic Survivor Prediction Kaggle Challenge

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("train.csv")

In [5]:
data.head(n=10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## Here we can see that age of some people is not known NAN , we can either discard those rows or we can fill the mean or median age over there also known as data imputation

In [7]:
# Irrelevant features to drop
columns_to_drop = ["PassengerId","Name","Ticket","Cabin","Embarked"]

In [8]:
data_clean = data.drop(columns_to_drop,axis=1)

In [9]:
data_clean.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le = LabelEncoder()

In [13]:
# Using label incoder for male and female
data_clean["Sex"] = le.fit_transform(data_clean["Sex"])

In [15]:
data_clean #Now our whole data has only numeric values

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0           0       3    1  22.0      1      0   7.2500
1           1       1    0  38.0      1      0  71.2833
2           1       3    0  26.0      0      0   7.9250
3           1       1    0  35.0      1      0  53.1000
4           0       3    1  35.0      0      0   8.0500
..        ...     ...  ...   ...    ...    ...      ...
886         0       2    1  27.0      0      0  13.0000
887         1       1    0  19.0      0      0  30.0000
888         0       3    0   NaN      1      2  23.4500
889         1       1    1  26.0      0      0  30.0000
890         0       3    1  32.0      0      0   7.7500

[891 rows x 7 columns]

In [16]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 48.9 KB

In [18]:
# We are going to fill in age in null values
data_clean = data_clean.fillna(data_clean["Age"].mean())

In [20]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 48.9 KB

# To access data in any row in pandas data frame we use .loc method , if it would have been a numpy array then we would have dairectly accesed but it would show error with pandas

In [21]:
data_clean.loc[2]

Survived     1.000
Pclass       3.000
Sex          0.000
Age         26.000
SibSp        0.000
Parch        0.000
Fare         7.925
Name: 2, dtype: float64

In [22]:
input_cols = ["Pclass","Sex","Age","SibSp","Parch","Fare"]
out_cols = ["Survived"] 

X = data_clean[input_cols]
Y = data_clean[out_cols]
print(X.shape,Y.shape)
print(type(X))

(891, 6) (891, 1)
<class 'pandas.core.frame.DataFrame'>

# Defining Entropy and Informaion Gain

In [24]:
def entropy(col):
    
    counts = np.unique(col,return_counts=True)
    N = float(col.shape[0])
    
    ent = 0.0
    for ix in counts[1]:
        p = ix/N
        ent += (-1.0*p*np.log2(p))
    
    return ent

In [26]:
# Showing the working of entropy and count
def entropyworking(col):
    
    counts = np.unique(col,return_counts=True)
    N = float(col.shape[0])
    
    print(counts)
    
    ent = 0.0
    for ix in counts[1]:
        p = ix/N
        ent += (-1.0*p*np.log2(p))
    
    return ent

col = np.array([1,1,1,1,0,1,0])
entropyworking(col)

(array([0, 1]), array([2, 5], dtype=int64))

0.863120568566631

### The count shows that there are 0 and 1 having frequency of 2 and 5 respectively

## Information Gain

In [27]:
def divide_data(x_data,fkey,fval):
    #Working with pandas data frame
    x_right = pd.DataFrame([],columns=x_data.columns)
    x_left = pd.DataFrame([],columns=x_data.columns)
    
    for ix in range(x_data.shape[0]):
        val = x_data[fkey].loc[ix]
        
        if val > fval:
            x_right = x_right.append(x_data.loc[ix])
        else:
            x_left = x_left.append(x_data.loc[ix])
        
    return x_left,x_right

In [29]:
divide_data(data_clean[:10],'Sex',0.5)
# 1 table is male and other is female and 0 to 1 so it will split along 0.5 , <0.5 -> female,>0.5->male

(   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
 1       1.0     1.0  0.0  38.0    1.0    0.0  71.2833
 2       1.0     3.0  0.0  26.0    0.0    0.0   7.9250
 3       1.0     1.0  0.0  35.0    1.0    0.0  53.1000
 8       1.0     3.0  0.0  27.0    0.0    2.0  11.1333
 9       1.0     2.0  0.0  14.0    1.0    0.0  30.0708,
    Survived  Pclass  Sex        Age  SibSp  Parch     Fare
 0       0.0     3.0  1.0  22.000000    1.0    0.0   7.2500
 4       0.0     3.0  1.0  35.000000    0.0    0.0   8.0500
 5       0.0     3.0  1.0  29.699118    0.0    0.0   8.4583
 6       0.0     1.0  1.0  54.000000    0.0    0.0  51.8625
 7       0.0     3.0  1.0   2.000000    3.0    1.0  21.0750)

In [30]:
def information_gain(x_data,fkey,fval):
    # Split the data
    left,right = divide_data(x_data,fkey,fval)
    # What % of sample are in left and right
    l = float(left.shape[0]/x_data.shape[0])
    r = float(left.shape[0]/x_data.shape[0])
    
    # If all examples come on same side
    if left.shape[0] == 0 or right.shape[0] == 0:
        return -100000 # Minimum Information gain
    
    i_gain = entropy(x_data.Survived) - (l*entropy(left.Survived)+r*entropy(right.Survived))
    
    return i_gain

In [31]:
# Test our function
for fx in X.columns:
    print(fx)
    print(information_gain(data_clean,fx,data_clean[fx].mean()))

Pclass
0.1573920356922207
Sex
0.42404036540223167
Age
-0.25173487512760084
SibSp
-0.35398726412032466
Parch
-0.5062973044723461
Fare
-0.4698060795017941

## Sex provides most information gain

## We would impliment Decision tree using class , we would restrict the depth as more depth would reduce the accuracy over the testing although it would be trained godd and would also have nodes which are unnecessary or less information gain, Post Proning - removal of less information gain nodes. We would do early stopping by restriction the depth

In [35]:
class DecisionTree:
    # Constructor
    def __init__(self,depth=0,max_depth=5):   # Now going in more depth like 5
        self.left = None
        self.right = None
        self.fkey = None
        self.fval = None
        self.max_depth = max_depth
        self.depth = depth
        self.target = None
    
    def train(self,X_train):
        features = ["Pclass","Sex","Age","SibSp","Parch","Fare"]
        info_gains = []
        
        for ix in features:
            i_gain = information_gain(X_train,ix,X_train[ix].mean())
            info_gains.append(i_gain)
            
        self.fkey = features[np.argmax(info_gains)]
        self.fval = X_train[self.fkey].mean()
        print("Making Tree Features is : ",self.fkey)
        
        # Split Data
        data_left,data_right = divide_data(X_train,self.fkey,self.fval)
        data_left = data_left.reset_index(drop=True) # Suppose our node has 1,2,3,4,5 reows and 1,3,5 belong to left so they need to be 1,2,3 in left not as 1,3,5
        data_right = data_right.reset_index(drop=True)
        
        # If we get 0 exaples in 1 side
        if data_left.shape[0] == 0 or data_right.shape[0]==0:
            if X_train.Survived.mean() >= 0.5:
                self.target = "Survive"
            else:
                self.target = "Dead"
            return
        
        #For early depth
        if(self.depth>=self.max_depth):
            if X_train.Survived.mean() >= 0.5:
                self.target = "Survive"
            else:
                self.target = "Dead"
            return
        
        # Now the recursive case
        self.left = DecisionTree(depth = self.depth+1,max_depth=self.max_depth)
        self.left.train(data_left)
        
        self.right = DecisionTree(depth = self.depth+1,max_depth=self.max_depth)
        self.right.train(data_right)
        
        # We can set the target at every node
        if X_train.Survived.mean() >= 0.5:
            self.target = "Survive"
        else:
            self.target = "Dead"
        return
    
    # Making prediction function
    def predict(self,test):
        if test[self.fkey]>self.fval:
            # go to right
            if self.right is None:
                return self.target
            return self.right.predict(test)
        else:
            if self.left is None:
                return self.target
            return self.left.predict(test)

In [34]:
d=DecisionTree()
d.train(data_clean)

Making Tree Features is :  Sex
Making Tree Features is :  Pclass
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Parch
Making Tree Features is :  Pclass
Making Tree Features is :  Parch
Making Tree Features is :  Age
Making Tree Features is :  Pclass
Making Tree Features is :  Pclass
Making Tree Features is :  Fare
Making Tree Features is :  Pclass
Making Tree Features is :  Fare
Making Tree Features is :  Parch
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  SibSp
Making Tree Features is :  Fare
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  SibSp
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Parch
Making Tree Features is :  Fare
Making Tree Features is :  SibSp
Making Tree Features is :  Fare
Making Tree Features is :  Pclass
Making Tree Features is :  Pclass
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Parch
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Parch
Making Tree Features is :  Age
Making Tree Features is :  SibSp
Making Tree Features is :  Age
Making Tree Features is :  Parch
Making Tree Features is :  Parch
Making Tree Features is :  Age
Making Tree Features is :  Fare
Making Tree Features is :  Fare
Making Tree Features is :  Fare
Making Tree Features is :  Fare
Making Tree Features is :  Fare
Making Tree Features is :  Age

# Train-Validate-Test Set Split

In [36]:
split = int(0.7*data_clean.shape[0])
train_data = data_clean[:split]
test_data = data_clean[split:]
test_data = test_data.reset_index(drop=True)

In [37]:
print(train_data.shape,test_data.shape)

(623, 7) (268, 7)

In [38]:
dt = DecisionTree()
dt.train(train_data)

Making Tree Features is :  Sex
Making Tree Features is :  Pclass
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  SibSp
Making Tree Features is :  Pclass
Making Tree Features is :  Age
Making Tree Features is :  Pclass
Making Tree Features is :  Pclass
Making Tree Features is :  SibSp
Making Tree Features is :  Fare
Making Tree Features is :  Pclass
Making Tree Features is :  Age
Making Tree Features is :  Pclass
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  SibSp
Making Tree Features is :  SibSp
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Fare
Making Tree Features is :  Age
Making Tree Features is :  SibSp
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Parch
Making Tree Features is :  SibSp
Making Tree Features is :  SibSp
Making Tree Features is :  Pclass
Making Tree Features is :  Pclass
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Parch
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Parch
Making Tree Features is :  Fare
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Parch
Making Tree Features is :  Age
Making Tree Features is :  SibSp
Making Tree Features is :  Age
Making Tree Features is :  Age
Making Tree Features is :  Parch
Making Tree Features is :  Age
Making Tree Features is :  SibSp
Making Tree Features is :  Fare
Making Tree Features is :  SibSp
Making Tree Features is :  Parch
Making Tree Features is :  Fare
Making Tree Features is :  Age

In [39]:
print(dt.fkey)
print(d.fval)

Sex
0.6475869809203143

In [40]:
print(dt.left.fkey)
print(d.right.fkey)

Pclass
Pclass

In [41]:
y_pred = []
for ix in range(test_data.shape[0]):
    y_pred.append(dt.predict(test_data.loc[ix]))

In [42]:
y_pred

['Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead']

In [43]:
y_actual = test_data[out_cols]

In [44]:
y_actual

     Survived
0           0
1           0
2           0
3           0
4           1
..        ...
263         0
264         1
265         0
266         1
267         0

[268 rows x 1 columns]

In [45]:
le = LabelEncoder()
y_pred = le.fit_transform(y_pred)

In [46]:
print(y_pred)

[0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0
 1 0 0 1 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 0 1 0 0 0 1 0 1 1 0 1 1 0 0 0
 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 1 0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 1 0 0 0
 0 1 0 1 0 0 1 0 1 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 1 0 0 0 0 1
 0 1 0 0 0 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0
 0 0 0 0 1 0 0 1 1 1 1 1 0 1 0 0 0 1 0 0 1 1 0 0 0 0 1 0 0 1 1 0 0 0 1 1 0
 1 0 0 0 0 1 0 1 0]

In [47]:
print(y_pred.shape,y_actual.shape)

(268,) (268, 1)

In [48]:
y_pred = np.array(y_pred).reshape((-1,1))

In [49]:
print(y_pred.shape)

(268, 1)

In [52]:
acc = np.sum(y_pred == y_actual)/y_pred.shape[0]

In [53]:
print(acc)

Survived    0.83209
dtype: float64